{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Contact Us</h1>
    <nav>
        <a href="/">Home</a> |
        <a href="/about/">About us</a> |
        <a href="/services/">Services</a> |
        <a href="/contact us/">Contact us</a>
        <a href="/careers/">Careers</a>
        <a href="/help/">help</a>


    </nav>
    <p>Email: info@example.com</p>
    <p>Phone: +123 456 7890</p>
</body>
</html>
