{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <nav>
        <a href="/">Home</a> |
        <a href="/about/">About us</a> |
        <a href="/services/">Services</a> |
        <a href="/contact/">Contact us</a>
        <a href="/careers/">Careers</a>
        <a href="/help/">help</a>


    </nav>
    <p>This is the home page of our Django project.</p>
</body>
</html>
