{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Developer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>UI and UX Designer</h1>
    <nav>
        <a href="/">Home</a> |
        <a href="/about/">About us</a> |
        <a href="/services/">Services</a> |
        <a href="/contact/">Contact us</a> |
        <a href="/careers/">Careers</a>
    </nav>
    <p>Join us as a UI and UX designer to work on scalable responsiveness, front end technology,and server-side logic. Apply now!</p>
    <p>Email your resume to <a href="mailto:careers@example.com">careers@example.com</a>.</p>
</body>
</html>
